<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    

     <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="node_modules1/bootstrap/dist/css/bootstrap.min.css">
    
    
    <link rel="stylesheet" type="text/css" href="node_modules1/bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" type="text/css" href="node_modules1/@fortawesome/fontawesome-free/css/all.css">

    

 
    <link rel="stylesheet" type="text/css" href="css/styles1.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/js1.js"></script>
    <script type="text/javascript" src="js/patientpage.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
    <script type="text/javascript" src="js/logout.js"></script>

    
</head>
<body>
{{{ body }}}

 <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
    

    <script src="node_modules1/popper.js/dist/umd/popper.min.js"></script>
    <script src="node_modules1/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>


