
	<nav class="navbar navbar-expand-md navbar-light">
		
			<button class="navbar-toggler ml-auto bg-light" type="button" data-toggle="collapse" data-target="#navbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			
			<div class="collapse navbar-collapse" id="navbar">

				<div class="container-fluid">  
					<div class="row">

						<div class="col-lg-3 col-xl-2 sidebar fixed-top">
							<a href="#" class="navbar-brand mx-auto text-center py-3 mb-4 d-block "><img src="img/logo.png" height="70" width="70"></a>


							<div>
								<img src="img/avatar.svg" width="50" class="rounded-circle mx-auto d-block">

								

							</div>

							<div class="text-center">
								
								<a href="#" class="text-white  "><span>Dr.</span><span>Nelusha Ekanayake</span></a>
							</div>

							
								
								<ul class="navbar-nav flex-column mt-4">

									<li class="nav-item "><a href="" class="nav-link text-white p-3 mb-2 sidebar-link" data-toggle="modal" data-target="#DoctorLogin"><span class="fas fa-user-md mr-3 text-light
										"></span>My profile</a></li>
									<li class="nav-item "><a href="" class="nav-link text-white p-3 mb-2 sidebar-link"><span class="far fa-calendar-alt mr-3 text-light
										"></span>Add Clinics</a></li>
									<li class="nav-item "><a href="" class="nav-link text-white p-3 mb-2 sidebar-link"><span class="fas fa-user-injured mr-3 text-light
										"></span>Cancel Clinics </a></li>
									

								</ul>
							
							
						</div>

						<div class="col-lg-9 col-xl-10 ml-auto  fixed-top py-2 top-navbar">
							<div class="row align-items-center">
								<div class="col-md-4">
									<h4 class="text-light  text-uppercase mb-0">Doctor Panel</h4>
								</div>
								<div class="col-md-5">

									<form>
										<div class="input-group">
										
										<input type="text" name=""  class="form-control search-input" placeholder="search">

										<button type="button" class="btn btn-white search-button"><i class="fas fa-search text-danger"></i>
											
										</button>	

										</div>
									</form>
									
								</div>
								<div class="col-md-3 ">

									<ul class="navbar-nav ">

										<li class="nav-item icon-parent"><a href="" class="nav-link icon-bullet"><i class="fas fa-comments text-muted fa-lg">
											
										</i></a>
											
										</li>

										<li class="nav-item icon-parent"><a href="" class="nav-link icon-bullet"><i class="fas fa-bell text-muted fa-lg">
											
										</i></a>
											
										</li>

										<li class="nav-item ml-md-auto" id="docsignout" name = "docsignout"><a href="" class="nav-link"><i class="fas fa-sign-out-alt text-muted fa-lg">
											
										</i></a>
											
										</li>
										
									</ul>
									
								</div>
								
							</div>
							
						</div>
						

					</div>
					
				</div>
			
			

			
			 
			</div>
			
		
		
	</nav>



	<!-- tables -->
    <section>
      <div class="container-fluid">
        <div class="row mb-5">
          <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row align-items-center">
              <div class="col-xl-6 col-12 mb-4 mb-xl-0 mt-5">
                <h3 class="text-muted text-center mb-3"></h3>
                <table class="table table-striped bg-light text-center table-hover">
                	<thead>
                		<tr>
                			<th colspan="3" class="text-left">Daily Sessions</th>
                			<th class="text-right mr-3" colspan="2" ><i class="fa fa-calendar-alt"></i></th>
                		</tr>
                	</thead>




                  <thead>
                    <tr class="text-muted">
                      <th>#</th>
                      <th>Place</th>
                      <th>Time</th>
                      
                      <th>Number of Appointment</th>
                      <th>cancel</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>1</th>
                      <td>John</td>
                      <td>$2000</td>
                      <td> 34</td>
                      <td><button type="button" class="btn btn-info btn-sm">cancel</button></td>
                    </tr>
                    <tr>
                      <th>2</th>
                      <td>Ann</td>
                      <td>$2000</td>
                      <td></td>
                      <td><button type="button" class="btn btn-info btn-sm">cancel</button></td>
                    </tr>
                    <tr>
                      <th>3</th>
                      <td>Mark</td>
                      <td>$2000</td>
                      <td></td>
                      <td><button type="button" class="btn btn-info btn-sm">cancel</button></td>
                    </tr>
                    <tr>
                      <th>4</th>
                      <td>Mary</td>
                      <td>$2000</td>
                      <td></td>
                      <td><button type="button" class="btn btn-info btn-sm">cancel</button></td>
                    </tr>
                    <tr>
                      <th>5</th>
                      <td>Bob</td>
                      <td>$2000</td>
                      <td></td>
                      <td><button type="button" class="btn btn-info btn-sm">cancel</button></td>
                    </tr>
                  </tbody>
                </table>

                <!-- pagination -->
                <nav>
                  <ul class="pagination justify-content-center">
                    <li class="page-item">
                      <a href="#" class="page-link py-2 px-3">
                        <span>&laquo;</span>
                      </a>
                    </li>
                    <li class="page-item active">
                      <a href="#" class="page-link py-2 px-3">
                        1
                      </a>
                    </li>
                    <li class="page-item">
                      <a href="#" class="page-link py-2 px-3">
                        2
                      </a>
                    </li>
                    <li class="page-item">
                      <a href="#" class="page-link py-2 px-3">
                        3
                      </a>
                    </li>
                    <li class="page-item">
                      <a href="#" class="page-link py-2 px-3">
                        <span>&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
                <!-- end of pagination -->

              </div>
              <div class="col-xl-6 col-12  mb-4 mb-xl-0 mt-5">
                <h3 class="text-muted text-center mb-3"></h3>
                <table class="table table-dark table-hover text-center">

                	<thead>
                	    <tr>
                	    	<th colspan="3" class="text-left">
                	    		Session 1
                	    	</th>

                	    </tr>

                	</thead>

                	
                  <thead>
                    <tr class="text-muted">
                      <th>#</th>
                      <th>Name</th>
                     
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>1</th>
                      <td>Monica</td>
                      
                      <td><span class="badge badge-success w-75 py-2">paid</span></td>
                    </tr>
                    <tr>
                      <th>2</th>
                      <td>Nick</td>
                      
                      <td><span class="badge badge-success w-75 py-2"> paid</span></td>
                    </tr>
                    <tr>
                      <th>3</th>
                      <td>Alex</td>
                     
                      <td><span class="badge badge-danger w-75 py-2">not paid</span></td>
                    </tr>
                    <tr>
                      <th>4</th>
                      <td>Jane</td>
                      
                      <td><span class="badge badge-danger w-75 py-2">not paid</span></td>
                    </tr>
                    <tr>
                      <th>5</th>
                      <td>Michael</td>
                      
                      <td><span class="badge badge-success w-75 py-2">paid</span></td>
                    </tr>
                    
                  </tbody>
                </table>
                 <!-- pagination -->
                 	<nav>
                  <ul class="pagination justify-content-center">
                    <li class="page-item">
                      <a href="#" class="page-link py-2 px-3">
                        <span>&laquo;</span>
                      </a>
                    </li>
                    <li class="page-item active">
                      <a href="#" class="page-link py-2 px-3">
                        1
                      </a>
                    </li>
                    <li class="page-item">
                      <a href="#" class="page-link py-2 px-3">
                        2
                      </a>
                    </li>
                    <li class="page-item">
                      <a href="#" class="page-link py-2 px-3">
                        3
                      </a>
                    </li>
                    <li class="page-item">
                      <a href="#" class="page-link py-2 px-3">
                        <span>&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
                 
                <!-- end of pagination -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end of tables -->







 