<nav class="navbar navbar-dark navbar-expand-sm  fixed-top " style="padding: 9.8px">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a href="#" class="navbar-brand mr-auto"><img src="img/logo.png" height="80" width="80" alt="logo"></a>
			<div class="collapse navbar-collapse" id="Navbar">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" href="channel.html">Channel</a></li>
				<li class="nav-item ReGU"><a class="nav-link" href="" data-toggle="modal" data-target="#register" id="regidh" href ="/register">Register</a></li>
                <li class="nav-item loginuser"><a class="nav-link" href="" data-toggle="modal" data-target="#loginModal" id="luname" href="/login">login</a></li>
                </a></li>
				
			</ul>
			 
			</div>
			
		</div>
		
	</nav>

	<div id="DoctorLogin" class="modal fade show" role="dialog">
		<div class="modal-dialog" role="content">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Register</h4>
					<button type="button" class="close" data-dismiss="modal">
						&times;
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group row">
							<div class="col-sm-4 order-sm-first offset-sm-1">
        						<label> Name</label>	
        					</div>
        					<div class="col-sm-5">
        						<input type="text" name="DName" placeholder="" class="form-control form-control-sm"  id="firstname">
        					 </div>
						</div>

						<div class="form-group row">
							<div class="col-sm-4 order-sm-first offset-sm-1">
        						<label>Reg No</label>	
        					</div>
        					<div class="col-sm-5">
        						<input type="text" name="regno" placeholder="" class="form-control form-control-sm"  id="firstname">
        					 </div>
						</div>

						<div class="form-group row">
							<div class="col-sm-4 order-sm-first offset-sm-1">
        						<label>Email</label>	
        					</div>
        					<div class="col-sm-5">
        						<input type="email" name="email" placeholder="" class="form-control form-control-sm"  id="firstname">
        					 </div>
						</div>

						<div class="form-group row">
							<div class="col-sm-4 order-sm-first offset-sm-1">
        						<label>password</label>	
        					</div>
        					<div class="col-sm-5">
        						<input type="password" name="location" placeholder="" class="form-control form-control-sm"  id="firstname">
        					 </div>
						</div>

						<div class="form-group row">
							<div class="col-sm-4 order-sm-first offset-sm-1">
        						<label>confirm password</label>	
        					</div>
        					<div class="col-sm-5">
        						<input type="password" name="haddress" placeholder="" class="form-control form-control-sm"  id="firstname">
        					 </div>
						</div>

						<div class="form-row">
                            <button type="button" class="btn btn-secondary btn-sm ml-auto" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary btn-sm ml-1">register</button>        
                        </div>

						

					</form>
					
				</div>
				
			</div>
			
		</div>
		
	</div>


	<div id="addhospital" class="modal fade show" role="dialog">
		<div class="modal-dialog" role="content">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Add Hospital</h4>
					<button type="button" class="close" data-dismiss="modal">
						&times;
					</button>
				</div>
				<div class="modal-body">
					<form name="addhospital">
						<div class="form-group row">
							<div class="col-sm-4 order-sm-first offset-sm-1">
        						<label>Hospital Name</label>	
        					</div>
        					<div class="col-sm-5">
        						<input type="text" name="hosusername" placeholder="" class="form-control form-control-sm"  id="hosusername">
        					 </div>
						</div>

						<div class="form-group row">
							<div class="col-sm-4 order-sm-first offset-sm-1">
        						<label>Reg No</label>	
        					</div>
        					<div class="col-sm-5">
        						<input type="text" name="regno" placeholder="" class="form-control form-control-sm"  id="regno">
        					 </div>
						</div>

						<div class="form-group row">
							<div class="col-sm-4 order-sm-first offset-sm-1">
        						<label>Email</label>	
        					</div>
        					<div class="col-sm-5">
        						<input type="email" name="hosemail" placeholder="" class="form-control form-control-sm"  id="hosemail">
        					 </div>
						</div>

						<div class="form-group row">
                            <div class="form-group col-sm-4 offset-sm-1 order-sm-first">
                                <label>Address</label>

                            </div>



                            

                             <div class="form-group col-sm-5">
                                <input type="text" name="hos_loca" class="form-control form-control-sm" id="" placeholder="" id="hos_loca">
                            </div>

                             
                           
							
                                
                                
                                
        						
        					 
						</div>
                       
						<div class="form-group row">
							<div class="col-sm-4 order-sm-first offset-sm-1">
        						<label>password</label>	
        					</div>
        					<div class="col-sm-5">
        						<input type="password" name="hospassword" placeholder="" class="form-control form-control-sm"  id="hospassword">
        					 </div>
						</div>

						<div class="form-row">
                            <button type="button" class="btn btn-secondary btn-sm ml-auto" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary btn-sm ml-1" >register</button>        
                        </div>

						

					</form>
					
				</div>
				
			</div>
			
		</div>
		
	</div>

	<div id="register" class="modal fade show" role="dialog">
		<div class="modal-dialog" role="content">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Register</h4>
					<button type="button" class="close" data-dismiss="modal">
						&times;
					</button>
				</div>
				<div class="modal-body">
					<form  id="regform"  autocomplete="off">
        					<div class="form-group row ">
        						
        								<div class="col-sm-4 order-sm-first offset-sm-1">
        								<label>First Name</label>	
        								</div>
        								<div class="col-sm-5">
        							    <input type="text" name="FirstName" placeholder="First Name" class="form-control form-control-sm"  id="FirstName">

                                        <small class="form-text invalid-feedback">this field must be filled
                                         letters</small>

        						        </div>
                                        
        								
        				               
        								
        							
        							
        					
        						
        					</div>

        					<div class="form-group row ">
        						
        								<div class="col-sm-4 order-sm-first offset-sm-1">
        								<label>Last Name</label>	
        								</div>
        								<div class="col-sm-5">
        							    <input type="text" name="lastname" placeholder="Last Name" class="form-control form-control-sm"  id="lastname">

                                         <small class="form-text invalid-feedback">this field must be filled
                                         letters</small>

        						        </div>
                                                                               
                                        
        								
        				               
        								
        							
        							
        					
        						
        					</div>

        					<div class="form-group row ">
        						
        								<div class="col-sm-4 order-sm-first offset-sm-1">
        								<label>NIC</label>	
        								</div>
        								<div class="col-sm-5">
        							    <input type="text" name="NIC" placeholder="NIC" class="form-control form-control-sm"  id="NIC">

                                         <small class="form-text invalid-feedback">this field must be filled
                                         letters</small>
        						        </div>

                                       
                                        
        								
        				               
        								
        							
        							
        					
        						
        					</div>

        					<div class="form-group row ">
        						
        								<div class="col-sm-4 order-sm-first offset-sm-1">
        								<label>Email address</label>	
        								</div>
        								<div class="col-sm-5">
        							    <input type="text" class="form-control form-control-sm" id="username" placeholder="Enter email" name="username">
                                                                                <small class="form-text invalid-feedback">Invalid email</small>
                                        
        						        </div>


        				               
        								
        							
        							
        					
        						
        					</div>

        					<div class="form-group row ">
        						
        								<div class="col-sm-4 order-sm-first offset-sm-1">
        								<label>password</label>	
        								</div>
        								<div class="col-sm-5">
        							    <input type="password" name="password" placeholder="password" class="form-control form-control-sm"  id="password">

                                        <small class="form-text invalid-feedback">Invalid password, require greater than 2
                                         letters</small>
        						        </div>
                                        
                                        
        								
        				               
        								
        							
        							
        					
        						
        					</div>

        					 <div class="form-group row">
                                <label class="col-sm-4 offset-sm-1">Confirm Password</label>
                                <div class="col-sm-5">
                                	<input type="password" class="form-control form-control-sm " id="passwordConfirmation" placeholder="Password Comfirmation" name="passwordConfirmation">

                                    <small class="form-text invalid-feedback">Password confirmation is not match with the
                                    password input</small>
                                </div>
                                
                                
                                
                            </div>

                             
        					
        					
        					
        					
        					

        					<div class="form-group row">
        						<div class="col-sm-6 offset-sm-3 ">
        							
                            		<button type="submit" class="btn btn-primary " style="width: 80%" id="UreG" name=UreG>
                               		Create Account
                               	   </button>
        							
        						</div>
        						
        						
        					</div>

        					<div class="form-group row">
        						<div class="col-sm-6 offset-sm-3 ">
        							
                            		<button id="reghospital" type="button" class="btn btn-primary " name= "reghospital" data-toggle="modal" data-target="#addhospital"  value="50" style="width: 80%">
                               		Add Hospitals
                               	   </button>
        							
        						</div>
        						
        						
        					</div>

        					<div class="form-group row">
        						<div class="col-sm-6 offset-sm-3 ">
        							
                            		<button type="button" class="btn btn-primary " style="width: 80%" id="docreg" data-toggle="modal" data-target="#DoctorLogin" value="20">
                               		Doctor login
                               	   </button>
        							
        						</div>
        						
        						
        					</div>
        				</form>
				</div>
				
			</div>
		</div>

		
	</div>
	<div id="loginModal" class="modal fade" role="dialog" >
		<div class="modal-dialog modal-lg"  role="content">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Login</h4>
					<button type="button" class="close" data-dismiss="modal">
						&times;
					</button>
					
				</div>
				<div class="modal-body">
					 <form autocomplete="off">
                        <div class="form-row">
                            <div class="form-group col-sm-4">
                                    <label class="sr-only" >username</label>
                                    <input type="text" class="form-control form-control-sm mr-1" id="username1" placeholder="Username" name="username1">
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="sr-only">Password</label>
                                <input type="password" class="form-control form-control-sm mr-1" id="password1" placeholder="Password" name="password1">
                            </div>
                            <div class="col-sm-auto">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label"> Remember me
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <button type="button" class="btn btn-secondary btn-sm ml-auto" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary btn-sm ml-1" id="loginBtn">Sign in</button>        
                        </div>
                    </form>
				</div>
				
			</div>
			
		</div>
	</div>

	<header class="jumbotron" id="jumbo">
        
        

         <div class="container ">

            
      		<div id="content" class="offset-md-3 row no-gutters mt-3" >
      		    
      				<div class="col-md-8">
                        <form name="search-form">
      					<input class="form-control border-secondary rounded-pill border-0  fas placeicon" type="text"  id="search_input_1" style="width: 100%" placeholder="&#xf3c5;"  name="search1" >
                        </form>
            			
          			</div>
          			<div class="col-auto">
          				<button class="btn   border-0  ml-n5 pull-right btn btn-default search-btn" type="button" >
        				<i class="fa fa-search"></i>
        				</button>
          			</div>
                

        		   
      		</div>		
          			
      			
        		
        		
        
        
        
    		

    		<div id="content" class="offset-md-3 row no-gutters mt-3" >
      		
      				<div class="col-md-8">
      					<input class="form-control border-secondary rounded-pill border-0 fas" type="search"  id="search_input_2" style="width: 100%" placeholder="&#xf0f0;">
            			
          			</div>
          			<div class="col-auto">
          				<button class="btn   border-0  ml-n5 pull-right btn btn-default search-btn" type="button" >
        				<i class="fa fa-search"></i>
        				</button>
          			</div>
        		   
      		</div>


      		<div id="content" class="offset-md-3 row no-gutters mt-3 " >
      		
      				<div class="col-md-8">
      					<input class="form-control border-secondary rounded-pill border-0 fas" type="search"  id="search_input_3" style="width: 100%" placeholder="&#xf0f8;">
            			
          			</div>
          			<div class="col-auto">
          				<button class="btn   border-0  ml-n5 pull-right btn btn-default search-btn" type="button" >
        				<i class="fa fa-search"></i>
        				</button>
          			</div>
        		   
      		</div>

      		<div id="content" class="offset-md-3 row no-gutters mt-3 " >
      		
      				<div class="col-md-8 ">
      					
      					<input class="form-control border-secondary rounded-pill border-0 placeicon fas" type="search"  id="search_input_4" style="width: 100%" placeholder="&#xf073;">
            			
          			</div>
          			<div class="col-auto">
          				<button class="btn   border-0  ml-n5 pull-right btn btn-default search-btn" type="button" >
        				<i class="fa fa-search"></i>
        				</button>
          			</div>
        		   
      		</div>

    		<div class="offset-md-5 row ">
    			<div class="col-sm-4">
    				<button class="btn    btn-default sbutton" id="search-button" type="button" style="width: 50%; background-color: #009b9b"><b>Search</b></button>
    			</div>
    			
    		</div>
    		
      			
        		
        		
        
        
        
    		


        
  		</div>



    </header>









      <footer class="footer">
        <div class="container">
            <div class="row">             
                <div class="col-4  col-sm-2">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Channel</a></li>
                        <li><a href="./aboutus.html">Register</a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="./contactus.html">Contact</a></li>
                    </ul>
                </div>
                <div class="col-7 col-sm-5 ">
                    <h5>Our Address</h5>
                    <address class="address">
		              121, Clear Water Bay Road<br>
		              Clear Water Bay, Colombo<br>
		              Sri Lanka<br>
		              <i class="fa fa-phone fa-lg"></i>: +942 1234 5678<br>
		              <i class="fa fa-fax fa-lg"></i>: +942 8765 4321<br>
		              <i class="fa fa-envelope fa-lg"></i>: <a href="mailto:ezdoc@gmail.com">ezdoc@gmail.com</a>
		           </address>
                </div>
                <div class="col-12 col-sm-4 align-self-center">
                    <div class=text-center>
                        
                        <a class="btn btn-social-icon btn-facebook " href="http://www.facebook.com/profile.php?id="><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-social-icon " href="mailto:"><i class="fas fa-envelope icon-3x"></i></a>
                    </div>
                </div>
           </div>
           <div class="row justify-content-center">             
                <div class="col-auto">
                    <p>© Copyright 2020 eZ DOC</p>
                </div>
           </div>
        </div>
    </footer>

		

	
	<!-- jQuery first, then Popper.js, then Bootstrap JS. -->
    <script src="node_modules1/popper.js/dist/umd/popper.min.js"></script>
    <script src="node_modules1/bootstrap/dist/js/bootstrap.min.js"></script>
    

    <script type="text/javascript">
    	$(document).ready(function(){
    			$("#reghospital").click(function() {
 				 var button = $(this);
  
 				 var id = button.val();

 			 	button.closest(".modal").modal('hide');
  				$('#' + id).modal('show');
				});

				$("#docreg").click(function() {
 				 var button = $(this);
  
 				 var id = button.val();

 			 	button.closest(".modal").modal('hide');
  				$('#' + id).modal('show');
				});

                


                 



                /* $("#search_input_1").click(function(){
                    $("header").addClass("dark");
                    });*/

                

    	});


       

        

        


        


    
    </script>


