<section id="contact1">
    <div class="back">





        <div class="container">

            <div class="col-lg-10 bg-light p-3 p-md-5 offset-md-1">
                
                <div class="row">
                    <div class="col-lg-5 col-md-12">
                        <img src="../img/very.svg" class="conimage  w-100 pt-5" alt="...">
                    </div>
                    <div class="col-lg-7 col-md-12">
                        <h2 style="margin-top:140px">You were added successfully :):)</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>